.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  transition-duration: 3s;
  transition-property: color, opacity;
  transition-timing-function: ease-in;
}

.footer__column-link:hover {
  opacity: 0.6;
  color: fuchsia;
}