.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  align-self: flex-end;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 100;
  text-decoration: none;
  color: #2f80ed;
  transition-duration: 3s;
  transition-property: color, opacity;
  transition-timing-function: ease-in;
}

.feynman__link:hover {
  opacity: 0.6;
  color: fuchsia;
}
