.two-columns__brief-link {
  text-decoration: none;
  color: #2f80ed;
  margin: 0;
  padding: 0;
  transition-duration: 3s;
  transition-property: color, opacity;
  transition-timing-function: ease-in;

}

.two-columns__brief-link:hover {
  opacity: 0.6;
  color: fuchsia;
}