.two-columns__brief-link {
  text-decoration: none;
  color: #2f80ed;
  margin: 0;
  padding: 0;
  -moz-transition-property: color; 
  -moz-transition-duration: 3s;
  -webkit-transition-property: color; 
  -webkit-transition-duration: 3s;
  -o-transition-property: color; 
  -o-transition-duration: 3s;
  -ms-transition-property: color; 
  -ms-transition-duration: 3s;
  transition-property: color; 
  transition-duration: 3s;
  transition-timing-function: ease-in;
  transition-property: color, opacity;
  transition-timing-function: ease-in;

}

.two-columns__brief-link:hover {
  opacity: 0.6;
  color: fuchsia;
}