.header__link {
	width: 388px;
  color: #2f80ed;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  opacity: 1;
}

.header__link:hover {
  opacity: 0.6;
  color: fuchsia;
}