
.kaufman__triangle {
 background: url(./images/kaufman-triangle.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  z-index: 8;
  overflow: hidden;
	animation-name: rotation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


